/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}


/* Estilos para los resultados de películas */

.movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.movie-result {
    position: relative;
    background-color: #111111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.movie-result:hover {
    transform: translateY(-5px);
}

.movie-poster {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.movie-result:hover .movie-poster {
    transform: scale(1.05);
}

.movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.movie-result:hover .movie-details {
    opacity: 1;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-year {
    font-size: 16px;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 14px;
    margin-bottom: 10px;
    max-height: 120px;
    overflow: hidden;
}

.button {
    background-color: #ff3b3f;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff1f25;
}